@model TableCreate


<h1>Task 2</h1>
<form method="post">
   
    
    <div class="row mt-3">

        <div class="col-6">
            <input type="number" asp-for="Id" class="form-control" />
        </div>

        <div class="col-6">
            <button type="submit" class="btn btn-primary form-control">Create Table</button>
            
        </div>
        </div>
</form>
